 , {% extends "layout.html" %}
{% block content %}
   <div class="dallas">
     <h2>Dallas Severe Crime Analysis</h2>
     <p>This analysis will be about Dallas' severe crime. We will look at the crime data and extract as much information as possible which will not only help law enforcement but also provide safety insight that the general public could use.
		We will be identfying what time, when, and where crime is occuring. This analysis could be used to help Dallas PD with their staffing and tactical needs. With this analysis I hope to reveal patterns in Dallas crime so that solutions can
		implemented to make my hometown safer. </p>
	   
		<h1> Data Souces and Assumptions </h1>
			<p> The Dallas crime data is available publicly here at the following link. The data used in the analysis is crime that occured from June 1st 2014 to  May 27th 2019.

			<li><a href="https://www.dallasopendata.com/Public-Safety/Police-Incident-location-and-pertinentinformation/v3r6-776m">Dallas Crime Download</a></li> </p>
	 
	 
	<h1>Summary of Process</h1>
	<p> The data was downloaded from dallasopendata.com. I then explored the data. I then reduced the dataframe to only to columns we cared about. After the data is consolidated I did some data engineering to the columns to create a column that consolidates the type crime that had occured, where the crime had occured, time etc. 
		Extra columns were added to rank the crime that happened. This synthesized dataframe was used for the advanced analytics and machine learning which helped gain deeper insights. I finally visualized where the crime is happened on maps. 
		A heat map and interactive maps was to used to bring the analysis to life. </p>
		
		<h1>Dallas Crime Graphs<h1>
			<h4>Hourly Trend  </h4>
				<p> Let us see the hourly trend of crimes </p>
				<img src="{{ img_df_hourly }}" alt="img_df_hourly">
				<p> This graph above shows that it is at 18:00 (6 PM CST) when the most crimes take place. Hours between 1am -7am have the least amount of criminal activity going on. This plot shows that from 3 am to 10 am is the safest time in Dallas, while </p>
			<h4>District Council </h4>
				<p>Dallas has 14 council districts in the city, let us visualize top crimes count for each districts</p>
				<img src="{{ img_df_council }}" alt="img_df_council">
				<p> As per above graph Council D7 takes the lead for severe crime. Let us put the same data in a heatmap</p>
				<img src="{{ img_council_heatmap }}" alt="img_council_heatmap">
			<h4> Police Divisions</h4>
				<p>Here is the count of severe crimes broken out by 8 divisions of Dallas. </p>
				<img src="{{ img_df_division }}" alt="img_df_division">
				<p>The graph shows that the Southeast division is victim of most crimes while north central comparatively is safe in terms of severe crimes.</p>
			<h4> Monthly Crime</h4>
				<p>Below shows the amount of crime per month. July has the most crime.  </p>
				<img src="{{ img_df_month }}" alt="img_df_month">
				<p> </p>
			<h4> Locations </h4>
				<p> It is important to understand which locations you have to be more vigilant in.</p>
				<img src="{{ img_df_type_of_loc }}" alt="img_df_type_of_loc">
				<p>This graph reveals that street, apartment complex and parking lot are the most dangerous place to be in.</p>
		<h1> Machine learning for Dallas Crime</h1>
			<p> Machine learning is a method of predictive data analysis that implments mathematics / statistics algos with computer prgramming. We previously preformed a general analysis of the Dallas crimne data. We will now run more advanced analysis. 
				30 percent of data is used for testing purpose while 70 percent is used for training of our Support Vector Machine model. The important columns considered in this model are 'Type_of_Incident_Bucket','rank','severity','Zip Code','Type_of_Location','Month of Occurence', & 'Hour'.</p>
			<h4> SVM Model</h4>
				<p> In machine learning, support-vector machines (SVMs, also support-vector networks) are supervised learning models with associated learning algorithms that analyze data used for classification and regression analysis.The SVM algorithm offers a choice of kernel functions for performing its processing. Basically, mapping data into a higher dimensional space is called kernelling. The mathematical function used for the transformation is known as the kernel function, and can be of different types, such as:
					1.Linear
					2.Polynomial
					3.Radial basis function (RBF)
					4.Sigmoid
					Each of these functions has its characteristics, its pros and cons, and its equation, but as there's no easy way of knowing which function performs best with any given dataset, we usually choose different functions in turn and compare the results. Let's just use the default, RBF (Radial Basis Function).</p>
				<img src="{{ img_confusion_svm }}" alt="img_confusion_svm">
				<p> The confusion matrix above is a visual representation of how good XGBoot model is doing in predicting which crime belong to which severity level class. Severity level 3 performing the best vs level 2 and level 1.</p>
			<h4> XGBOOST Model</h4>
				<p> XGBoost is an optimized distributed gradient boosting library designed to be highly efficient, flexible and portable. It implements machine learning algorithms under the Gradient Boosting framework. XGBoost provides a parallel tree boosting (also known as GBDT, GBM) that solve many data science problems in a fast and accurate way. The same code runs on major distributed environment (Hadoop, SGE, MPI) and can solve problems beyond billions of examples.</p>
				
				<img src="{{ img_confusion_XGB }}" alt="img_confusion_XGB">
				
				<p> The SVM model is effective at predicting severity 3 crimes. This comes from the fact that in our chosen data set number of crimes mostly are of severity level 3 so the model is able to train for its prediction. Crime at level 1 & 2 are not accurate. Though the low in numbers therefore the overall score of model accuracy is still high. The diagonal line represent true positive by SVM model and dark blue color shows number of records in each class. This also gives us visual of how many severity 1 crimes are label as severity 2 (131) and severity 3(4) crimes. Similarly only 7 crimes of severity 2 crimes are label as severity 3 while for severity 3 all are predicted correctly</p>
				
		<h1> Spatial Analysis </h1>
			<p> In this section we will use folium maps to locate crime in Dallas. This gives a visual to where the crime is happening.>
			<h4> Choropleth Dallas Crime Map</h4>
				
				 <p> A Choropleth map is a thematic map in which areas are shaded or patterned in proportion to the measurement of the statistical variable being displayed on the map, such as population density or per-capita income. The choropleth map provides an easy way to visualize how a measurement varies across a geographic area or it shows the level of variability within a region. Dallas crime is plotted below on choropleth map. We will use the choropleth method with the following main parameters:
					1. geo_data, which is the GeoJSON file.
					2. data, which is the dataframe containing the data.
					3. columns, which represents the columns in the dataframe that will be used to create the Choropleth map.
					4. key_on, which is the key or variable in the GeoJSON file that contains the name of the variable of interest. To determine that, you will need to open the GeoJSON file using any text editor and note the name of the key or variable that contains the name of the countries, since the countries are our variable of interest. In this case, dist_name is the key in the GeoJSON file that contains the name of the countries.</p>
				 <iframe src="{{ url_for('dallas_crime_choropleth') }}" style="border-style: none;width: 100%; height: 500px; "></iframe>
				<p> This gives us a better visualization of Severe crimes of Dallas location wise. The dark red places have high crime rate and lighter color districts have low crime rate.</p>
			<h4> Severity level one crimes</h4>	
				<iframe src="{{ url_for('dallas_severity1_crime_map') }}" style="border-style: none;width: 100%; height: 500px;" ></iframe>
				<p> Murder related crimes are considered as severity level one crime in this article. You can zoom in and out to visualize different locations of Dallas where such crimes have been reported. </p>
			<h4> Severity level two crimes</h4>
				<iframe src="{{ url_for('dallas_severity2_crime_map') }}" style="border-style: none;width: 100%; height: 500px;"></iframe>
				<p> Deadly conduct is labeled severity level two crime, the above interactive map shows latitude and longitude of Dallas where deadly conduct have been reported. </p>
			<h4> Severity level three crimes</h4>
				<iframe src="{{ url_for('dallas_severity3_crime_map') }}" style="border-style: none;width: 100%; height: 500px;"></iframe>
				<p> Assault related crimes are grouped into severity level three. Above map is visual representation of assualt related crimes data of Dallas.</p>
				
				
		<h1> Final Thoughts </h1>
			<p> To Wrap up: The most crimes happen at 12am, on the street, in the southeast part of Dallas, and in July. Something that could make this analysis more impactful would be adding more columns. Columns such as the police badge number were dropped from the final dataframe that was used for the analysis. 
					This would be something that could hold police accountable while patroling the communities. It also it could give public an idea on what cops are actually dealing with, which can bring some clarity and understanding.</p>
	
	 
   </div>
 {% endblock %}
